.avatar-cover .cover {
    background-size: cover;
    background-position: center;
    background-image: url(./../../img/artist-page/Image-Placeholder.webp);
    height: 20rem;
}

.avatar-cover .avatar {
    height: 3.125rem;
    width: 100%;
    border-color: var(--primaryBackground);
    border-style: solid;
    border-width: 2px;
}

.avatar-cover .avatar-img {
    border-color: var(--primaryBackground);
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
}

.artist-info {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.artist-info .profile-name h2 {
    font-size: var(--fs-xl);
}

.artist-info .id-btn {
    --bs-btn-padding-y: 1.1875rem;
    --bs-btn-padding-x: 1.28125rem;
}

.artist-info .follow-btn {
    --bs-btn-padding-y: 1.1875rem;
    --bs-btn-padding-x: 1.875rem;
}

.artist-info .profile-info .value {
    font-size: var(--fs-md);
}

.artist-info .profile-info .label {
    font-size: var(--fs-sm);
}

.artist-info .bio h4,.artist-info .links h4 {
    font-size: var(--fs-sm);
    font-weight: 700;
}

.artist-info .bio p {
    font-size: var(--fs-sm);
}

.nft-card-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.tab-bar {
    padding-top: 0.625rem;
    border-color: var(--SecondaryBackground);
    border-top-style: solid;
    border-top-width: 1px;
}

.tab-bar .nav-item {
    flex: 1 1 0;
}

.tab-bar .nav-link {
    color: var(--caption);
    width: 21.875rem;
    padding: 0.875rem 0;
    border: none;
    transform: none;
}

.tab-bar .nav-link.active {
    background-image: url(./../../svg/Tab.svg);
    background-color: transparent;
    border: none;
    color: #FFFFFF;
}

.tab-bar .title {
    font-size: var(--fs-sm);
    font-weight: 600;
}

.tab-bar .num-item {
    background-color: var(--SecondaryBackground);
    font-size: var(--fs-xs);
    font-family: var(--secondaryFont);
    padding: 5px 10px;
    border-radius: 20px;
}

.tab-bar .nav-link.active .num-item {
    background-color: var(--caption);
}

@media screen and (max-width:1200px) {
    .profile-name h2 {
        font-size: var(--fs-lg);
    }
    .profile-info .value {
        font-size: var(--fs-sm);
    }
    .profile-info .label {
        font-size: var(--fs-xs);
    }
    .bio h4,.links h4 {
        font-size: var(--fs-xs);
        font-weight: normal;
    }
    .bio p {
        font-size: var(--fs-xs);
    }
    .tab-bar .nav-link {
        padding: 1.15625rem 0;
        width: 14.166875rem;
    }
    .tab-bar .title {
        font-size: var(--fs-xs);
    }
    .tab-bar .num-item {
        font-size: var(--fs-xxs);
    }
}

@media screen and (max-width:768px) {
    .profile-name h2 {
        font-size: var(--fs-md);
    }
    .tab-bar .nav-link {
        padding: 1.1875rem 0;
        width: 6.5625rem;
    }
}