/* Created by Talal Alshamalia */

/*Start Base Styles */
:root {
    --primaryBackground: #2B2B2B;
    --SecondaryBackground: #3B3B3B;
    --caption: #858584;
    --action: #A259FF;
    --blueAccent: #377DF7;
    --redAccent: #FF7262;
    --primaryFont: "Work Sans", sans-serif;
    --secondaryFont: "Space Mono", monospace;
    --fs-xxs: 0.75rem;
    --fs-xs: 1rem;
    --fs-sm: 1.375rem;
    --fs-md: 1.75rem;
    --fs-lg: 2.375rem;
    --fs-xl: 3.1875rem;
    --fs-xxl: 4.1875rem;
}

[data-bs-theme=dark],body {
    background-color: var(--primaryBackground);
    font-family: var(--primaryFont);
}
/* End Base Styles */

/* Start Custom Container */
.custom__container {
    display: flex;
     flex-direction: column;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 576px) {
    .custom__container {
        max-width: 339px;
    }
}

@media screen and (min-width: 576px) {
    .custom__container {
        max-width: 339px;
    }
}

@media screen and (min-width: 768px) {
    .custom__container {
        max-width: 714px;
    }
}

@media screen and (min-width: 1200px) {
    .custom__container {
        max-width: 1074px;
    }
}
/* End Custom Container */

/* Start Custom Container Fluid */
@media screen and (max-width: 768px) {
    .custom__container__fluid {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
}

@media screen and (min-width: 768px) {
    .custom__container__fluid {
        padding-left: 3.125rem;
        padding-right: 3.125rem;
    }
}
/* End Custom Container Fluid */

/* Start Title Container */
.title-container h2 {
    font-size: var(--fs-lg);
}

.title-container p {
    font-size: var(--fs-sm);
}

@media screen and (max-width:1200px) {
    .title-container h2 {
        font-size: var(--fs-md);
    }

    .title-container p {
        font-size: var(--fs-xs)
    }
}
/* End Title Container */

/* Start Responsive Utilities */
@media screen and (min-width:768px) {
    .position__md__absolute {
        position: absolute;
    }
}

@media screen and (min-width:1200px) {
    .position__xl__absolute {
        position: absolute;
    }
}

@media screen and (max-width: 768px) {
    .w__sm__100 {
        width: 100% !important;
    }
}

@media screen and (max-width: 1200px) {
    .w__md__100 {
        width: 100% !important;
    }
}
/* End Responsive Utilities */

/* Start Colors */
.text-background {
    color: var(--primaryBackground) !important;
}

.text-caption {
    color: var(--caption);
}

.text-footer {
    color: #CCCCCC;
}

.bg-background {
    background-color: var(--primaryBackground);
}

.bg-card {
    background-color: var(--SecondaryBackground);
}

.dark-text-placeholder::placeholder  {
    color: var(--primaryBackground);
}
/* End Colors */

/* Start Font */
.secondaryFont {
    font-family: var(--secondaryFont);
}

.fs__xxs {
    font-size: var(--fs-xxs);
}

.fs__xs {
    font-size: var(--fs-xs);
}

.fs__sm {
    font-size: var(--fs-sm);
}

.fs__md {
    font-size: var(--fs-md);
}

.fs__lg {
    font-size: var(--fs-lg);
}

.fs__xl {
    font-size: var(--fs-xl);
}

.fs__xxl {
    font-size: var(--fs-xxl);
}
/* End Font */

/* Start Buttons */
button,a {
  transition: transform 0.2s ease-in-out !important;
}


button:hover,a:hover {
  transform: scale(0.95);
}

.custom__btn {
    --bs-btn-padding-x: 3.125rem;
    --bs-btn-padding-y: 1.25rem;;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-action {
    background-color: var(--action);
}

.btn-outline-action {
    color: var(--action);
    border-color: var(--action);
}

.sign-up-btn {
    background-color: var(--action);
    --bs-btn-padding-y: 1.25rem;
    --bs-btn-padding-x: 1.875rem;
}
/* End Buttons */

/* Start Rounded */
.rounded__20 {
    border-radius: 20px;
}

.rounded__bottom__20 {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
/* End Rounded */

/* Start Header */
header .logo-nft {
     margin-top: 4px;
}

.navbar {
    padding-top: 2.125rem;
    padding-bottom: 2.125rem;
}

.nav__item {
    padding: 0 1.25rem;
}

@media screen and (max-width:1200px) {
    .navbar {
        padding-top: 0.9375rem;
        padding-bottom: 0.9375rem;
    }
}
/* End Header */

/* Start Hero */
.hero {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.hero h1 {
    font-size: var(--fs-xxl);
}

.hero p {
    font-size: var(--fs-sm)
}

.hero .value {
    font-size: var(--fs-md);
}

.hero .label {
    font-size: 1.5rem;
}

@media screen and (max-width:768px) {
    .hero {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

@media screen and (max-width:1200px) {
    .hero h1 {
        font-size: var(--fs-lg);
    }

    .hero p {
        font-size: var(--fs-xs)
    }

    .hero .value {
        font-size: var(--fs-sm);
    }

    .hero .label {
        font-size: var(--fs-xs);
    }
}
/* End Hero */

/* Start Trending Collection */
.trending-collection {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media screen and (max-width:1200px) {
    .trending-collection {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.trending-collection .more__btn {
   width: 100px; 
}
/* End Trending Collection */

/* Start Top Creators*/
.top-creators {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media screen and (max-width:1200px) {
    .top-creators {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

.top-creators .creator-num {
    background-color: var(--primaryBackground);
    font-size: var(--fs-xs);
    font-family: var(--secondaryFont);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
/* End Top Creators*/

/* Start Browse Categories*/
.browse-categories {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media screen and (max-width:1200px) {
    .browse-categories {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}
/* End Browse Categories*/

/* Start Discover More NFTs*/
.discover-more-nfts {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media screen and (max-width:768px) {
    .discover-more-nfts {
        padding-bottom: 60px;
    }
}

@media screen and (max-width:1200px) {
    .discover-more-nfts {
        padding-top: 2.5rem;
    }
}
/* End Discover More NFTs*/

/* Start NFT Highlight Section */
.nft-highlight {
    background-size: cover;
    background-position: center;
}

.nft-highlight .title {
    font-size: var(--fs-xl)
}

.nft-highlight .auction-timer {
    background-color: rgba(59, 59, 59, 0.5);
}

.nft-highlight .auction-label {
    font-size: 0.75rem;
}

.nft-highlight .time-unit {
    font-size: 0.75rem;
}

.nft-highlight .time-value {
    line-height: 120%;
}

.nft-highlight .colon {
    line-height: 150%;
}

@media screen and (min-width: 1200px) {
    .nft-highlight {
        background-image: url(./../img/nft-highlight/nft-highlight-desktop.webp);
    }
    .highlight-body {
        padding-top: 22.5rem;
        padding-bottom: 3.75rem;
    }
}

@media screen and (max-width: 1200px) {
    .nft-highlight {
        background-image: url(./../img/nft-highlight/nft-highlight-tablet.webp);
    }
    .highlight-body {
        padding-top: 7.5rem;
        padding-bottom: 2.5rem;
    }
    .nft-highlight .title {
        font-size: var(--fs-lg)
    }
}
/* End NFT Highlight Section */

/* Start How It Works*/
.how-it-works {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.how-it-works .card-body h3 {
    font-size: var(--fs-sm);
}

.how-it-works .card-body p {
    font-size: var(--fs-xs);
}

@media screen and (max-width:1200px) {
    .how-it-works {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .how-it-works .card-body h3 {
        font-size: var(--fs-xs);
    }
    .how-it-works .card-body p {
        font-size: var(--fs-xxs);
    }
}

@media screen and (max-width:768px) {
    .how-it-works .card-body {
        max-width: 9.6875rem;
    }
}
/* End How It Works*/

/* Start Subscribe Widget */
.subscribe-widget {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
}

.subscribe-widget .bg-card {
    padding: 3.75rem;
}

.subscribe-widget h2 {
    font-size: var(--fs-lg);
}

.subscribe-widget p {
    font-size: var(--fs-sm);
}

@media screen and (max-width:1200px) {
    .subscribe-widget .bg-card {
        padding: 2.5rem 1.875rem;
    }
    .subscribe-widget h2 {
        font-size: 1.75rem;
    }
    .subscribe-widget p {
        font-size: 1rem;
    }
}

@media screen and (max-width:768px) {
    .subscribe-widget {
        padding-bottom: 40px;
    }
    .subscribe-widget .bg-card {
        background-color: transparent;
        padding: 0;
    }
}
/* End Subscribe Widget */

/* Start Newsletter Signup */
.subscribe-widget .newsletter__form {
    max-width: 420px;
}

.subscribe-widget .newsletter__signup__input {
    padding: 1.1875rem 14rem 1.1875rem 1.25rem;
}

.subscribe-widget .subscribe__btn {
    background-color: var(--action);
}

.subscribe-widget .form__control:focus {
    border-color: var(--action);
    box-shadow: 0 0 0 .25rem rgba(162, 89, 255, .25);
}

@media screen and (max-width:768px) {
    .subscribe-widget .newsletter__signup__input {
        padding: 0.75rem 1.25rem;
    }
    .subscribe-widget .subscribe__btn {
        padding: 0.8125rem 0;
    }
}

@media screen and (max-width:1200px) {
    .subscribe-widget .newsletter__signup__input {
        padding: 0.75rem 1.25rem;
    }
    .subscribe-widget .subscribe__btn {
        padding: 0.8125rem 0;
    }
}
/* End Newsletter Signup */

/* Start Footer */
footer {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-color: var(--primaryBackground);
    border-top-style: solid;
    border-top-width: 2px;
}

footer .newsletter__form {
    max-width: 420px;
}

footer .newsletter__signup__input {
    padding: 1.1875rem 12rem 1.1875rem 1.25rem;
}

footer .subscribe__btn {
    background-color: var(--action);
}

footer .form__control:focus {
    border-color: var(--action);
    box-shadow: 0 0 0 .25rem rgba(162, 89, 255, .25);
}

@media screen and (max-width:768px) {
    footer .newsletter__signup__input {
        padding: 0.75rem 1.25rem;
    }
    footer .subscribe__btn {
        padding: 0.8125rem 0;
    }
}
/* End Footer */